body {
  background-color: pink;
}


.new-border {
  border: 2px solid black;
}

.title {
  border-color: green;
  text-align: center;
  font-size: 50px;
}

.image {
  border-color: red;
}

.text1 {
  border-color: orange;
  width: 45%;
  float: left;
}

.text2 {
  border-color: yellow;
  float: right;
  width: 45%;

}

.footer {
  border-color: black;
  clear: both;
}

.top-nav {
  background-color: goldenrod;
  height: 45px;
}

.top-nav li {
  list-style-type: none;
  font-family: "Arial";
  display: inline;
  padding: 0 9px;
  float: left;
  margin: 10px;
}

.img-box {
  width: 30%;
  height: 50px;
  border: 2px dashed lime;
  display: inline-block;
  margin-right: 2%;
}