body {
  background-color: pink;
}


.new-border {
  border: 2px solid black;
}

.title {
  border-color: green;
}

.image {
  border-color: red;
}

.text1 {
  border-color: orange;
}

.text2 {
  border-color: yellow;
}

.footer {
  border-color: black;
}

.top-nav {
  background-color: goldenrod;
  height: 45px;
}

.top-nav li {
  list-style-type: none;
  font-family: "Arial";
  display: inline;
  padding: 0 9px;
  float: left;
  margin: 10px;
}